@media screen and (max-width: 412px) {
    .header__sponsor{
        display: none;
    }
    .news img{
        width: 100%;
        height: 300px;
    }
    .nav{
        display: none;
    }
    .menu{
        display: none;
    }
    .nav_btn_mobile{
        display: flex;
padding-bottom: 75px;

    }
}9+